
/* ---- TABLA DE CONTENIDO ---- */
  /* FONTS */
  /* COLORS */
  /* COMMON STYLES */
/* ---- TABLA DE CONTENIDO ---- */

/* FONTS */

/* FONTS */

/* COLORS */
.gray{
  color: #737373
}
.orange{
  color: #F08D24
}
.blue{
  color: #056082
}
.sky-blue{
  color: #00AAC8
}

.white{
  color: #FFFFFF
}
/* COLORS */

/* COMMON STYLES */
/* body {
  min-height: 75rem;
  padding-top: 4.5rem;
} */

html{
  font-family: "Helvetica Neue";
}

h2{
  color: #056082;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn-theme{
  color: #FFFFFF;
  font-weight: bold;
  background-color: #F08D24;
  border-radius: 10px;
  font-size: 20px;
  line-height: .65;
  letter-spacing: normal;
  display: block;
  max-width: 290px;
  text-align: center;
  padding: 20px;
  width: 290px;
  margin: auto;
}

.btn-theme a{
  text-decoration: none;
  color: #FFFFFF;
}

.btn-theme:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E47500;
}

@media (max-width: 468px){
  h2{
    font-size: 30px;
    margin-bottom: 30px;
  }

  .btn-theme{
    max-width: 200px;
    font-size: 15px;
    padding: 15px;
  }
}
/* COMMON STYLES */

/* HEADER */
.header{
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.16);
}
/* HEADER */

/*HOME*/
.home-section{
  background: url("../../assets/img/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  position: relative;
  /* margin-top: 90px; */
}

.home-section h1 {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #056082;
  padding: 50px 0px;
}

.home-section p {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #056082;
  padding: 25px 0px;
}

.home-section h3 {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: .94;
  letter-spacing: normal;
  text-align: left;
  color: #00aac8;
  padding: 30px 0px;
}

/* animation scroll */
.circle-scroll{
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
}

.scroll-down{
  animation: MoveUpDown 1s linear infinite;
  animation-name: MoveUpDown;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.scroll-down i{
  font-size: 24px;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
/* animation scroll */

@media (max-width: 468px){
  .home-section {
    background-image: url("../../assets/img/bg-home-mobile3.jpg");
  }

  .home-section h1 {
    font-size: 35px;
    line-height: 1;
    padding: 15px 0px;
  }

  .home-section p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.38;
    padding: 5px 0px;
  }

  .home-section h3 {
    font-size: 20px;
    padding:10px 0px;
  }

  .circle-scroll{
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  .circle-scroll i{
    font-size: 15px;
  }

  .scroll-down{
    left: 42%;
  }
}

/*HOME*/

/*TABLA de CONTENIDOS*/
.content-table{
  background-color: #72A6C0;
  color: #FFFFFF;
  padding: 100px 0;
  float: left;
  width: 100%;
}

.content-table ol{
  margin: 15px 0;
}

.content-table li{
  font-size: 2em;
  margin-bottom: 30px;
}

.content-table li a {
  font-size: 0.75em;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.content-table ol li:hover, .content-table ol li a:hover {
  color: #056082;
}

@media (max-width: 468px){
  .content-table li{
    font-size: 25px;
    margin-bottom: 15px;
  }

  .content-table li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 0.5;
  }
}
/* TABLA DE CONTENIDOS */

/* TEMA 2 */
.theme2{
  background-color: #D6F1F6;
  padding: 70px 0;
}

.theme2 .theme-p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #056082;
  padding-left: 32px;
  padding-right: 32px;
}

.carousel-wrap {
  margin: 40px auto;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
#theme2-carousel .owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
/* .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
} */

.owl-nav {
  /* margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd; */
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -50px;
  margin-top: -26px;
  position: absolute;
  top: 50%;
}

.owl-nav .owl-next {
  right: -50px;
  margin-top: -26px;
  position: absolute;
  top: 50%;
}

.card-carousel {
  background-color: #fff;
  max-width: 324px;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  margin: 5px;
}

.card-carousel h5 {
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
  color: #056082;
}

.card-carousel p {
  font-size: 14px;
  color: #737373;
}

@media (max-width: 468px){
  .theme2 .theme-p {
    line-height: 1.28;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
  }

  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }

}

/* TEMA 2 */

/* CTA */
.cta{
  background-color: #F2D5CE;
  display: flex;
  justify-content: space-between;
}

.info-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 700px;
}

.info-cta h2 {
  font-size: 40px;
}

.info-cta p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #707070;
}

@media (max-width: 468px){
  .cta{
    display: grid;
  }

  .info-cta {
    padding-top: 24px;
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 37px;
    background: #f4e1dc;
  }

  .info-cta h2 {
    font-size: 30px;
  }

  .cta img {
      grid-row: 1;
      max-width: 167px;
      margin-left: auto;
  }
}

/* CTA */

/* THEME 3 */

.theme3{
  padding: 70px 0;
}

.theme-items{
  padding: 20px 100px;
  width: 100%;
}

.theme-card{
  /* margin-top: 50px; */
}

.theme3 .theme-items .theme-card:not(:last-child) {
    border-bottom: 2px dashed #00aac8;
    /* padding-bottom: 70px; */
}

/* .theme-items:before{
  content: '';
  position: absolute;
  right: -1px;
  background: #fff;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
} */

.card-box-info{
  margin-bottom: 70px;
  margin-top: 50px;
}

.theme-card p {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #737373;
}

.theme-card-info{
  width: 90%;
}

.theme-card-info h4{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #056082;
  margin-top: 0;
}

.card-box-img{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.last{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.theme-card-img{
  /* width: 100%;
  margin-top: 30px;
  background: #fff;
  padding: 40px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 10px; */
}

@media (max-width: 768px) and (min-width: 469px){
  .theme-card-img img{
    width: 90%;
  }
}

@media (max-width: 468px){
  .theme3-info p{
    padding: 0px 20px;
  }

  .theme-items{
    padding: 20px 25px;
    padding-bottom: 0;
  }

  .theme-card-info{
    width: 100%;
  }

  .card-box-info{
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .card-box-img{
    box-shadow: none;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .last{
    margin-bottom: 0px;
  }

  .theme-card-img{
    width: 100%;
    background: #fff;
    padding: 40px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    border-radius: 10px;
  }
}

/* THEME 3 */

/* FOOTER */
footer{
  background-color: #056082;
  height: 80px;
}

footer .footer-box{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer p{
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #82b0c0;
}

footer .footer-brand{
  font-size: 14px;
}

/* FOOTER */
